USE [master]
GO
/****** Object:  Database [DB_VentasDW]    Script Date: 24/10/2023 19:56:55 ******/
CREATE DATABASE [DB_VentasDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBVentasDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBVentasDW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBVentasDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBVentasDW_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_VentasDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_VentasDW]
GO
/****** Object:  Table [dbo].[D_Clientes]    Script Date: 24/10/2023 19:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Clientes](
	[ID_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NULL,
	[Sexo] [char](1) NOT NULL,
	[CodigoPostal] [varchar](20) NOT NULL,
	[DirCalle] [varchar](100) NOT NULL,
	[DirCiudad] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_Empleados]    Script Date: 24/10/2023 19:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Empleados](
	[ID_Empleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NULL,
	[Sexo] [char](1) NULL,
	[CodigoPostal] [varchar](20) NOT NULL,
	[DirCalle] [varchar](100) NOT NULL,
	[DirCiudad] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_Productos]    Script Date: 24/10/2023 19:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Productos](
	[ID_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Categoria] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_Tiempo]    Script Date: 24/10/2023 19:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Tiempo](
	[ID_Tiempo] [date] NOT NULL,
	[Nombre_Mes] [varchar](30) NULL,
	[Mes] [int] NULL,
	[Año] [int] NULL,
	[Trimestre] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[H_Pedidos]    Script Date: 24/10/2023 19:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_Pedidos](
	[ID_Pedido] [int] IDENTITY(1,1) NOT NULL,
	[ID_Cliente] [int] NULL,
	[ID_Empleado] [int] NULL,
	[ID_Tiempo] [date] NULL,
	[ID_Producto] [int] NULL,
	[Tipo_Pago] [varchar](50) NOT NULL,
	[Cantidad_Pedido] [int] NOT NULL,
	[Total_Pedido] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[H_Pedidos]  WITH NOCHECK ADD  CONSTRAINT [FK_Clientes_Pedidos] FOREIGN KEY([ID_Cliente])
REFERENCES [dbo].[D_Clientes] ([ID_Cliente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[H_Pedidos] CHECK CONSTRAINT [FK_Clientes_Pedidos]
GO
ALTER TABLE [dbo].[H_Pedidos]  WITH NOCHECK ADD  CONSTRAINT [FK_Empleados_Pedidos] FOREIGN KEY([ID_Empleado])
REFERENCES [dbo].[D_Empleados] ([ID_Empleado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[H_Pedidos] CHECK CONSTRAINT [FK_Empleados_Pedidos]
GO
ALTER TABLE [dbo].[H_Pedidos]  WITH NOCHECK ADD  CONSTRAINT [FK_Productos_Pedidos] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[D_Productos] ([ID_Producto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[H_Pedidos] CHECK CONSTRAINT [FK_Productos_Pedidos]
GO
ALTER TABLE [dbo].[H_Pedidos]  WITH NOCHECK ADD  CONSTRAINT [FK_Tiempo_Pedidos] FOREIGN KEY([ID_Tiempo])
REFERENCES [dbo].[D_Tiempo] ([ID_Tiempo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[H_Pedidos] CHECK CONSTRAINT [FK_Tiempo_Pedidos]
GO
ALTER TABLE [dbo].[D_Clientes]  WITH NOCHECK ADD CHECK  (([Sexo]='F' OR [Sexo]='M'))
GO
ALTER TABLE [dbo].[D_Empleados]  WITH NOCHECK ADD CHECK  (([Sexo]='F' OR [Sexo]='M'))
GO
USE [master]
GO
